@page
@model CurrencyConverter.Pages.Currency.ConvertModel
@{
}
<form asp-page="Convert">
    <div>
        <label asp-for="Input.CurrencyFrom"></label>
        <select class="form-control dropdown" asp-for="Input.CurrencyFrom" asp-items="Model.CurrencyCodes"></select>
        <span class="text-danger" asp-validation-for="Input.CurrencyFrom"></span>
    </div>
    <div>
        <label asp-for="Input.CurrencyTo"></label>
        <select class="form-control dropdown" asp-for="Input.CurrencyTo" asp-items="Model.CurrencyCodes"></select>
        <span class="text-danger" asp-validation-for="Input.CurrencyTo"></span>
    </div>
    <div>
        <label asp-for="Input.Quantity"></label>
        <input class="form-control" asp-for="Input.Quantity" />
        <span class="text-danger" asp-validation-for="Input.Quantity"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <div asp-validation-summary="All" class="text-danger"></div>
</form>