@page
@model RecipeApplication.Pages.Recipe.CreateModel
@{
    ViewData["Title"] = "Create";
}
<h2>@ViewData["Title"]</h2>
<hr />

<form method="post" class="form-horizontal">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <partial name="_EditRecipePartial" for="Recipe" />

    <div class="form-group">
        <table class="table table-striped" id="ingredients">
            <thead>
                <tr>
                    <th>Ingredient</th>
                    <th>Quantity</th>
                    <th>Unit</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Recipe.Ingredients.Count; i++)
                {
                    var ingredient = Model.Recipe.Ingredients[i];
                    <tr>
                        <td>
                            <input asp-for="Recipe.Ingredients[i].Id" type="hidden" />
                            <input asp-for="Recipe.Ingredients[i].Name" />
                            <span asp-validation-for="Recipe.Ingredients[i].Name" class="text-danger"></span>
                        </td>
                        <td>
                            <input asp-for="Recipe.Ingredients[i].Quantity" />
                            <span asp-validation-for="Recipe.Ingredients[i].Quantity" class=" text-danger"></span>
                        </td>
                        <td>
                            <input asp-for="Recipe.Ingredients[i].Unit" />
                            <span asp-validation-for="Recipe.Ingredients[i].Unit" class=" text-danger"></span>
                        </td>
                        <td>
                            <input type="button" onclick="this.parentNode.parentNode.remove()" class="btn-danger" value="Remove" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="button" class="btn btn-success" id="addIngredient">Add ingredient</button>
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
            let addRow = function addRow() {
                let ingredients = document.getElementById('ingredients');
                let rowLength = ingredients.getElementsByTagName("tr").length - 1;
                let template =
                    `<tr>
                        <td>
                            <input id="Ingredients_${rowLength}__Name" name="Recipe.Ingredients[${rowLength}].Name" type="text"/>
                        </td>
                        <td>
                            <input id="Recipe_Ingredients_${rowLength}__Quantity" name="Recipe.Ingredients[${rowLength}].Quantity" type="text"/>
                        </td>
                        <td>
                            <input id="Recipe_Ingredients_${rowLength}__Unit" name="Recipe.Ingredients[${rowLength}].Unit" type="text"/>
                        </td>
                        <td>
                        <input type="button" onclick="this.parentNode.parentNode.remove()" class="btn-danger" value="Remove" />
                        </td>
                    </tr>
                    `;
                ingredients.insertAdjacentHTML("beforeend",template);
            }
        let addButton = document.getElementById("addIngredient");
        addButton.addEventListener('click', addRow);
    </script>
}